brella_event = 'YOUR_EVENT'
brella_email = 'ENTER_YOUR_EMAIL_HERE'
brella_session_cookie = 'ZRiCOL1hz9P3iWTO70IripRk%2FRWXB%2FCKwHI8vaJd%2Bym4rpwGnDbAfyp0ptCGvfJyRxsMgNvL%2BZuhWoUJSSLB7wRPV%2FQ3DCsjKcXZLsscR%2FQJOKzW2gAgjHeqnoccSw2NnZPW8iEH2xUnpoYyvSh%2FgTdez0l213iSofw%2Fm82r1s4v3peqG1MO6symsDay9pgVMsoKEH4VD1OkZ%2FCJpA%2FqpPVlBcsgOc4SK7V4lT%2FtcSrZ9S84ch2%2Bd%2B%2FCgxU%2BuAhN%2FVgJwpGPzDrGf3CdZLJ%2F8b0Ky091OAjG8%2BDBkz3pDQ%3D%3D--JGreQqyhMYRN65GX--KiIXYamFZHA0fB%2BmzOczQg%3D%3D'